@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left:50px;
  margin-right:50px;
  background:#FFF;
  padding:5px 5px 5px 5px;
}
iframe{
	border:none;
}
/* Header/logo Title */
.header {
  text-align:left;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
.header a{
	color:#FFF;
	text-decoration:none;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 15px;
  right: 60px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #093;
  top: 0;
  border-top-left-radius:30px;
  border-bottom-right-radius:30px;
}

/* Style the navigation bar links */
.navbar a {
	margin-left:30px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: #f1f1f1;
  padding: 20px;
}
.sidebar {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  background-color: #FFF;
  padding: 5px;
}
.sidebar p {
	margin-left:30px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Main column */
.main {   
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
  background-color: white;
  padding: 20px;
}
.main a{
	color:#000;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
}
.fakeimg img{
	width:100%;
	height:200px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #FFF;
  color:#000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.content{
	margin:30px 30px 30px 30px;
	text-align:center;
	text-indent:30px;
}
.content span{
	color:#093;
}
.subsidecontent a{
    color: #093;
}
.subsidecontent ul{
    list-style-type: none;
	    padding: 0;
	margin-left:10px;
}
#slidebar{
	box-sizing: border-box;
	 width:200px;
    font-size:12px;
    float:left;
	height: 300px;
	background-color: #BDDCC1;
	
}
#content{
	height: 100%;
	width: 100%;
	background-color: #BDDCC1;
}
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 9px;
  width: 100%;
  height: 80%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #5CE491;
}
.Sukien{
	padding-bottom: 5%;
	font-size: 30px;
}

.imgSK{
	text-align: left;
    width: 23%;
    height: 30%;
}
.bannerImgSK{
	width:50px;
    height:50px;
    overflow: hidden;
}
.btn {
	text-align: center;
  	border: none;
  	background-color: inherit;
  	padding: 14px 28px;
  	font-size: 16px;
  	cursor: pointer;
  	display: inline-block;
	color: #093;
}
.btn:hover {background: #eee;}
/* Định dạng phần form đăng nhập*/
.fomrgroup {
    width: 50%;
    margin: auto;
    display: block;
    height: 50px;
}
.fomrgroup input{
    float: right;
     width: 70%;
    height: 25px;
    margin-right: 20px;
    line-height: 50px;
}
.fomrgroup b{
    font-size: 17px;
}
/* The Modal (background) */
.modal {
    display: none; /* mặc định được ẩn đi */
    position: fixed; /* vị trí cố định */
    z-index: 1; /* Ưu tiên hiển thị trên cùng */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
 
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
 
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#create{
	background-color: #093;
	font-size: 20px;
	text-align: center;
	color:#FFF;
}
.slibecontent{
	border-bottom-left-radius: 10px;
	background-color: #093;	
	color:#FFF;
	width: 50%;
	height: 100px;
	margin-left: 225px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.SK{
	border-bottom:inset;
	height: 20px;
	padding-bottom: 10px;
	font-size: 20px;
}
#SK1{
	font-size: 15px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
#font{
	font-size: 18px;
}
#SK2{
	width: 20px;
	height: 100%;
}
#SK3{
	margin-left: 50px;
	margin-top: -40px;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


